--no-binary=opencc
zstandard
urllib3
numpy<2.0
scipy
hf_xet
tensorboard
librosa==0.10.2
numba
pytorch-lightning>=2.4
ffmpeg-python
onnxruntime
onnxruntime-gpu
tqdm
funasr==1.0.27
cn2an
pypinyin
pyopenjtalk>=0.4.1
g2p_en
modelscope
sentencepiece
transformers==4.50
huggingface-hub>=0.26.0
peft<0.18.0
chardet==7.2.0
PyYAML
psutil
jieba_fast
jieba
split-lang
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
ToJyutping 
g2pk2
ko_pron
opencc
python_mecab_ko; sys_platform != 'win32'
x_transformers
torchmetrics<=1.5
pydantic<=2.10.6
ctranslate2>=4.0,<5
av>=11
tqdm
torchcodec